<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="">Senac Shopee</a>
        </div>

        <div class="background">
            <img src="../static/image/ecommerce.png" alt="">

            <div class="form">
                <form method="POST" action="">
                    <div class="items_1col">
                        <p>Nome</p>
                        <input type="text" placeholder="Nome">
                        <p>Cpf</p>
                        <input type="text" placeholder="Cpf">
                        <p>Telefone</p>
                        <input type="text" placeholder="Telefone">
                         <p>Senha</p>
                        <input type="password" placeholder="Senha">
                    </div>

                    <div class="items_2col">
                        <p>Sobrenome</p>
                        <input type="text" placeholder="Sobrenome">
                        <p>Endereço</p>
                        <input type="text" placeholder="Endereço">
                        <p>Email</p>
                        <input type="email" placeholder="Email">
                        <p>Confirmação Senha</p>
                        <input type="email" placeholder="Email">
                    </div>
                </form>
                <div class="btn">
                    <button type="submit">Entrar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>