<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estoque.css">
    <title>Estoque</title>
</head>
<body>
    <div class="container">
       <div class="header">
            <div class="logo">
                <a href="">Senac Shopee</a>
            </div>
        </div>
        <h1>Estoque</h1>
        <div class="container-table">
            <form action="">
                <table>
                    <tr>
                        <th>Id Produto</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Quantidade Disponível</th>
                        <th>Valor em Estoque</th>
                    </tr>

                    <tr>
                        <td>01</td>
                        <td>Calça</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis doloremque dolores quod explicabo ipsum </td>
                        <td>R$ 250</td>
                        <td>20</td>
                        <td>R$ 50.000</td>
                    </tr>

                    <tr>
                        <td>02</td>
                        <td>Bermuda</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis doloremque dolores quod explicabo ipsum </td>
                        <td>R$ 250</td>
                        <td>20</td>
                        <td>R$ 50.000</td>
                    </tr>

                    <tr>
                        <td>03</td>
                        <td>Camisa</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis doloremque dolores quod explicabo ipsum</td>
                        <td>R$ 250</td>
                        <td>20</td>
                        <td>R$ 50.000</td>
                    </tr>

                    <tr>
                        <td>04</td>
                        <td>Vestido</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis doloremque dolores quod explicabo ipsum </td>
                        <td>R$ 250</td>
                        <td>20</td>
                        <td>R$ 50.000</td>
                    </tr>

                    <tr>
                        <td>05</td>
                        <td>Blusinha</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis doloremque dolores quod explicabo ipsum </td>
                        <td>R$ 250</td>
                        <td>20</td>
                        <td>R$ 50.000</td>

                    </tr>

                    <tr>
                        <td>06</td>
                        <td>Casaco</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis doloremque dolores quod explicabo ipsum </td>
                        <td>R$ 250</td>
                        <td>20</td>
                        <td>R$ 50.000</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>