<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="">Senac Shopee</a>
            </div>

            <div class="input_header">
                <input type="text">
            </div>

            <div class="btn_header">
                <a href="">Entrar</a>
                <a href="">Cadastre-se</a>
            </div>

        </div>

        <div class="sub_header">
            <ul>
                <li><a href="">Promoções</a></li>
                <li><a href="">Feminino</a></li>
                <li><a href="">Masculino</a></li>
                <li><a href="">Infantil</a></li>
                <li><a href="">Baby</a></li>
            </ul>

            <div class="container_carrinho">
                <p>Carrinho</p>
                <i></i>
            </div>
        </div>

    </div>
</body>
</html>