<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Home</title>
</head>
<body>
    <script src="../static/js/script.js"></script>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="">Senac Shopee</a>
            </div>

            <div class="input_header">
                <input type="text">
            </div>

            <div class="btn_header">
                <a href="">Entrar</a>
                <a href="">Cadastre-se</a>
            </div>

        </div>

        <div class="sub_header">
            <ul>
                <li><a href="">Promoções</a></li>
                <li><a href="">Feminino</a></li>
                <li><a href="">Masculino</a></li>
                <li><a href="">Infantil</a></li>
                <li><a href="">Baby</a></li>
            </ul>

            <div class="container_carrinho">
                <p>Carrinho</p>
                <i class="fa fa-cart-shopping"></i>
            </div>
        </div>

        <div class="background_image">
            <img src="../static/image/back-image.jpg" alt="">
        </div>

        <div class="container_card_masculino">
            <div class="seta_esquerda"></div>
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBOMv2Or5l-9STe5_358x2XXChVHEyyb7PZw&usqp=CAU" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVpr36j1J1aNPut2C5Im_hn4R1kzFpS1YekQ&usqp=CAU" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQsl6wSWfH-rmcvWSPfegmpK5CuseVpc8MdQ&usqp=CAU" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR327lfGQJN3Apekt7nR23X06JF8Cp2R4Himw&usqp=CAU" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="seta_direita"></div>
        </div>

        <div class="container_card_masculino">
            <div class="seta_esquerda"></div>
            <div class="card">
                <img src="https://http2.mlstatic.com/D_NQ_NP_670804-MLB31365438470_072019-O.jpg" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScK3sMajriV6do01WXFv6s18yH8LmA0o7gSxB9H4zT9cipC8KtXmTS4vIS67omImeelUo&usqp=CAU" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://cf.shopee.com.br/file/17622bfdf840716e92ac068f158db00c" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://http2.mlstatic.com/D_NQ_NP_804897-MLB43594857278_092020-O.jpg" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="seta_direita"></div>
        </div>

        <div class="container_card_masculino">
            <div class="seta_esquerda"></div>
            <div class="card">
                <img src="https://images.tcdn.com.br/img/img_prod/614798/180_conjunto_juvenil_kukixo_111573_1_20211122120853.jpg" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://i.pinimg.com/474x/bb/ea/cb/bbeacb1d75065018173e18ceff5b7ce0.jpg" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://images.tcdn.com.br/img/img_prod/614798/180_vestido_juvenil_pic_nic_jacquard_memphis_111235_1_20211122121535.jpg" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6xdeDiBNIVkJJesrzitVk4zCsioZOnU646SyPRqdIqtm1gE0HQatnjZfhYoP4mEjWUp0&usqp=CAU" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="seta_direita"></div>
        </div>

        <div class="container_card_masculino">
            <div class="seta_esquerda"></div>
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwKYklyWmBkT41f_vPkIm3BhuTVquUyXW3vPrn1fV7wrAYyOfm3H_wDTKkllfda94W62E&usqp=CAU" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY4yJK7BtCJOrxb1JuqIJRh89wovkUZCTcfQ&usqp=CAU" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://images.tcdn.com.br/img/img_prod/733111/pijama_kyly_infantil_masculino_camiseta_bermuda_927_1_20200908230257.jpg" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://http2.mlstatic.com/D_NQ_NP_973475-MLB50792369301_072022-W.jpg" alt="">
                <div class="descricao_produto">
                    <h3>Calça jeans sytle confort plus</h3>
                    <p>R$ 125</p>
                    <div class="star">
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                        <span class="material-symbols-outlined">star_half</span>
                    </div>
                    <div class="btn_comprar">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="seta_direita"></div>
        </div>
    </div>
</body>
</html>