<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reclame.css">
    <title>Reclame Aqui</title>
</head>
<body>
    <div class="container">
        <h2>Senac Shopee</h2>
        <form action="">
            <h1>Cadastrar nova reclamação</h1>
            <div class="dados_reclame">
                <div class="dados">
                    <p>Título</p>
                    <input type="text" placeholder="Título">
                </div>

                <div class="dados">
                    <p>Tipo</p>
                    <input type="text" placeholder="Tipo">
                </div>

                <div class="dados">
                    <p>Departamento</p>
                    <input type="text" placeholder="Departamento">
                </div>
                
                <div class="dados">
                    <p>Descrição</p>
                    <textarea name="" id="" cols="50" rows="10"></textarea>
                </div>
            </div>

            <div class="opcoes_cliente">
                <h1>Dados do Cliente</h1>
                <div class="info_cliente">
                    <input type="radio">
                    <p>Desejo me identificar sem restrições</p>
                    <input type="radio">
                    <p>Desejo me identificar com restrições</p>
                    <input type="radio">
                    <p>Não quero me identificar</p>
                </div>
            </div>

            <div class="dados_cliente">
                <div class="dados">
                    <p>Nome</p>
                    <input type="text" placeholder="Nome">
                </div>
                <div class="dados">
                    <p>Cpf</p>
                    <input type="text" placeholder="Cpf">
                </div>
                <div class="dados">
                    <p>Email</p>
                    <input type="text" placeholder="Email">
                </div>
                <div class="dados">
                    <p>Cidade</p>
                    <input type="text" placeholder="Cidade">
                </div>
                <div class="dados">
                    <p>Estado</p>
                    <input type="text" placeholder="Estado">
                </div>
                <div class="dados">
                    <p>Cep</p>
                    <input type="text" placeholder="Cep">
                </div>
                <div class="dados">
                    <p>Endereço</p>
                    <input type="text" placeholder="Endereço">
                </div>
                <div class="dados">
                    <p>Telefone Fixo</p>
                    <input type="text" placeholder="Telefone Fixo">
                </div>
                <div class="dados">
                    <p>Telefone Celular</p>
                    <input type="text" placeholder="Telefone Celular">
                </div>
            </div>
            <div class="btn">
                <button submit="">Enviar</button>
            </div>
        </form>
    </div>
</body>
</html>